/**
 * Project: Project name 
 * File:    Main SCSS
 */
@import 'gallery';
@import 'modules/_fonts';
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_breakpoints';

// Optional side margins
@import 'modules/_mq';
@import 'modules/_side-margins';

// Setup page
body {
    margin: 0;
    padding: 0;
}

// Remove <figure> margin
.interactive {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.gv-gallery {
    div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

// Note: Access images using '../app/imgs/' path
.gv-wrapper {
    margin: 0 auto;
    
    // Breakpoints
    @include mq(tablet) {
        max-width: gs-span(9) + $gs-gutter*2;
    }

    @include mq(desktop) {
        max-width: gs-span(12) + $gs-gutter*2;
    }

    @include mq(leftCol) {
        padding-left: 0;
        padding-right: 0;
        max-width: gs-span(14) + $gs-gutter*2;
    }
    @include mq(wide) {
        width: gs-span(16) + $gs-gutter*2;
        max-width: none;
    }
}

.gv-header {
    padding: 10px $gs-gutter;
    margin: 0;
}

.gv-guardian-logo {
    float: right;
    width: 80px;
}

.gv-table {
    margin: 10px auto;
    max-width: 500px;
    font-family: 'Guardian Text Sans Web', sans-serif;
    font-size: 0.9rem;
}

.gv-gallery {
    
    width: 100%;
}

.swiper-container {
    max-width: 1300px;
    height: 100vh;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f6f6f6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-container{
    text-align: left;
    padding:40px 20px 0;
    font-family:'Guardian Egyptian Web', Georgia;
}

.slide-mobile-opener {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: top center;


    .slide-title-container {
        padding: 53vh 20px 0 20px;;
        height: 100%;


        .story-title {
            margin: 0;
            font-size: 2em;
            font-family: Guardian Egyptian Web,Georgia;
            font-weight: 900;
            line-height: 1;
        }

        p {
        margin: 0;
        }

        .story-list {
            margin-top: 40px;
            font-size: 1.2em;
            line-height: 1.4;
            font-weight: 900;
            font-family: Guardian Egyptian Web,Georgia;
            
            padding-top: 10px;
        }

        .title-story-headline {
            padding-right: 10px;
        }

        
    }
}

.scheme-blue {
    background-color: #005689;
            color: #fff;
    .slide-title-container {
        .title-story-headline:nth-child(even){
            color: #fff;
        }
        .title-story-headline:nth-child(odd){
            color: #c5d4ea;
        }
    }

     .story-list {
        border-top: 1px dotted #94b1ca;
     }

}


.scheme-pink {
    background-color: #b82266;
    color: #fff;
    .slide-title-container {
        .title-story-headline:nth-child(even){
            color: #ffdfee;
        }
        .title-story-headline:nth-child(odd){
            color: #ff84be;
        }
    }

}


.scheme-green {
    background-color: #298422;
    color: #fff;

    .slide-title-container {
        .title-story-headline:nth-child(odd){
            color: #9ad596;
        }
        .title-story-headline:nth-child(even){
            color: #174913;
        }
    }

}



.slide-quote{
    max-width:540px;
    margin:0 auto;
    quote{
        font-size:32px;
        color:#fff;
        font-weight: 100;
        line-height:1.2em;
    }
    .quote-credit{
        font-weight:bold;
        font-size:32px;
        color:#fff;
        margin-top:0.2em;
    }
    .quote-container{
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        quote,.quote-credit{
            max-width:540px;
            margin:0 auto;
            display:block;
        }
    }
}

.slide-photo{
    .picture-credit{
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        line-height: 1.3em;
        color:#fff;
        font-size:14px;
        margin:0;
        width:100%;
        .credit-container{
            background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 20%, rgba(0,0,0,1));
            height:auto;
            padding-top:40px;
            padding-bottom:1px;
        }
        p{
            margin: 0 0 10px 10px;
            max-width: 700px;
            text-shadow: 0 1px 1px rgba(0,0,0,0.4);
            font-size: 12px;
            font-family:'Guardian Text Sans Web', Arial;
        }
    }
}

.slide-title{
    .story-title{
        color: #fff;
        font-size: 3em;
        // max-width: 530px;
        line-height: 1em;
        margin-top:0;
        margin-bottom:0
    }
    h3{
        color:#fff;
        font-weight:normal;
        font-size:18px;
        line-height:1.3em;
        margin-bottom:2em;
    }
}

.slide-end-block {

      position: absolute;
      bottom: 20%;
      left: 0;
      width: 100%;
      text-align: center;
    
    .slide-end-text {
        color: inherit;
        font-family:'Guardian Egyptian Web', Georgia;
        font-weight: 100;
        font-size: 3em;
    }
}

@media(min-width:400px){


    .slide-mobile-opener {

        .slide-title-container {
            .story-title {
                font-size: 2.5em;
            }

        }
    }
}


@media(min-width:480px){
    .slide-quote{
        quote{
            font-size:42px;
        }
        .quote-credit{
            font-size:42px;
        }
    }

    .slide-mobile-opener {

        .slide-title-container {
            .story-title {
                font-size: 2.5em;
            }

        }
    }
}

.gv-share {
    max-width: 1300px;
    display: none;
    
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

    

    .gv-btn {
        margin-left: 20px;
        display: inline-block;
        border-radius: 20px;

        color: #fff;
        font-family: 'Guardian Text Sans Web', sans-serif;
        font-size: 16px;
        padding: 6px 15px;
        cursor: pointer;
    }
}

#gv-share-fbk {
    background: #005689;
    .gv-btn {
        background: #005689;
        border: 1px solid #fff;
     }
}

#gv-share-twt {
    background: #4bc6df;
    .gv-btn {
        background: #4bc6df;
         color: #333;
         border: 1px solid #333;
    }
   
}

@media(min-width:580px){
    .slide-quote{
        padding:0;
    }
}
@media(min-width:740px){
    $i: 4;
    @while $i > 0 {
        .size-#{$i*2} {
            width: 90px * ($i *2);
        }
        .size-#{($i*2)-1} {
            width: 90px * ($i *2);
        }

      $i: $i - 1;
    }
    .hp-middle{
        left:0;
        right:0;
        margin:0 auto;
    }
    .hp-right{
        right:0;
    }
    .vp-middle{
        top:50%;
        transform:translateY(-50%);
    }
    .vp-bottom{
        bottom:0;
    }
    .title-container{
        position: absolute;
    }
    .slide-down-arrow {
        display: none;
    }

    .swiper-container {
        height: 80vh;
    }

    #swiper-navigation{
        max-width: 1300px;
        margin: 0 auto;
        font-size:0;
        padding:20px 10px;
        &:after{
            clear:both;
            content:'';
            display: block;
        }
    }
    .swiper-headline{
        font-size:16px;
        font-family:'Guardian Egyptian Web', Georgia;
        width:220px;
        float:left;
        padding-top:8px;
        h2{
            font-size:24px;
            line-height:1em;
            margin:0;
        }
        h3{
            font-weight:100;
            font-size:16px;
            margin:0;
            color:#767676;
        }
    }
    .navigation-container{
        background: #fff;
        width:auto;
        float:left;
        margin-left:20px;
    }
    .swiper-navigation-item{
        display: inline-block;
        max-width:65px;
        height:60px;
        overflow: hidden;
        button{
            width:60px;
            height:60px;
            border-radius:60px;
            border:none;
            outline:none;
            cursor:pointer;
            background-size:cover;
            border:3px solid transparent;
            margin-left:5px;
        }
        p{
            vertical-align: top;
            margin:20px 0 0 0;
            color:#fff;
            transition:color 1s;
            display:inline-block;
            font-weight:bold;
            font-family:'Guardian Text Sans Web', Arial;
            font-size:14px;
        }
        &.active{
            -webkit-animation: slideNav 1s; 
            max-width:500px;
            p{
                padding-right:10px;
                padding-left:5px;
                color:#333;
            }
            button{
                border-color:#4BC6DF;
                transition:border-color 1s;
            }
        }
    }
    @-webkit-keyframes slideNav {
        0%   { max-width: 62px; }
        100% { max-width: 300px; }
    }

    .slide-end-block {
        top: 50%;
        left: auto;
        right: 75px;

        .slide-end-text{
             position: absolute;
              right: 0;
              top: -45px;
        }
    }

    .gv-share { 
        text-align: left;


        .gv-btn {
            margin-right: 20px;
        }
    }

}

@media(min-width:980px){
    .navigation-container{
        margin-left:60px;
         background: #fff;
    }
    .slide-quote{
        max-width:620px;
        .quote-container{
            quote,.quote-credit{
                max-width:620px;    
                font-size:54px;
            }
        }
    }
    $i: 8;
    @while $i > 0 {
        .size-#{$i}{
            padding: 0 10px;
            width: 120px * $i;
        }
        .push-#{$i} {
            margin-left: 120px * $i;
        }
        $i: $i - 1;
    }
}

@media(min-width:1140px){
    $i: 8;
    @while $i > 0 {
        .size-#{$i} {
            padding: 0 10px;
            width: 130px * $i;
        }
        .push-#{$i} {
            margin-left: 130px * $i;
        }
        $i: $i - 1;
    }

}

@media(min-width:1300px){
    $i: 8;
    @while $i > 0 {
        .size-#{$i} {
            padding: 0 10px;
            width: 160px * $i;
        }
        .push-#{$i} {
            margin-left: 160px * $i;
        }
        $i: $i - 1;
    }

}

.content--interactive .content__main .gs-container:first-child {
        display: none;
}

.content__head .gs-container:first-child {
        display: none;
}

.content__main .gs-container:nth-child(2) {
        padding: 0;
}



