{{#isDesktop}}
<div id="swiper-navigation">
    <div class="swiper-headline">
        <h2>Glastonbury 2015</h2>
        <h3>Our report in pictures</h3>
    </div>
    <div class="navigation-container">
        {{#stories}}
            <div class="swiper-navigation-item {{#isFirst}}active{{/isFirst}}">
                <button style="background-image:url({{navImage}})"></button>
                <p>{{story}}</p>
            </div>
        {{/stories}}
    </div>
</div>
<div class="swiper-container swiper-container-{{shellLayout}}">

    <div class="swiper-wrapper">

   
     {{#stories}} 
        <div class="swiper-slide story-container">

            <div class="swiper-container swiper-container-{{storyLayout}}">
                <div class="swiper-wrapper">
                
                    {{#slides}}
                        {{>slide}}
                    {{/slides}}
       
                </div>
 
                <div class="swiper-button-next swiper-slide-middle"></div>
                <div class="swiper-pagination swiper-pagination-{{storyLayout}}"></div>
            </div>
        </div>
    {{/stories}}

    </div>
    <!-- Add Pagination -->





    
</div>
{{/isDesktop}}


{{^isDesktop}}

    <div class="slide-container slide-photo swiper-slide-pending swiper-slide-active slide-mobile-opener "
    data-img-src='{{config.src}}' data-img-sizes='{{config.sizes}}'
    {{#config.style}} style='{{config.style}}' {{/config.style}}
    >

    </div>
    

    {{#stories}} 

        <div class="swiper-container swiper-container-{{storyLayout}}">
            <div class="swiper-pagination swiper-pagination-{{storyLayout}}"></div>

                <div class="swiper-wrapper">
                
                    {{#slides}}
                        {{>slide}}
                    {{/slides}}
       
                </div>

            <div class="swiper-button-next"></div>
<!--             <div class="swiper-button-prev"></div> -->

        </div>

     {{/stories}}   


{{/isDesktop}}