
{{#isDesktop}}
<div class="swiper-container swiper-container-{{shellLayout}}">
    <div class="swiper-wrapper">
   
     {{#stories}} 
        <div class="swiper-slide story-container">
            <div class="swiper-container swiper-container-{{storyLayout}}">
                <div class="swiper-wrapper">
                
                    {{#slides}}
                        {{>slide}}
                    {{/slides}}
       
                </div>
                <div class="swiper-pagination swiper-pagination-{{storyLayout}}"></div>
            </div>
        </div>
    {{/stories}}

    </div>
    <!-- Add Pagination -->

    <div class="swiper-pagination swiper-pagination-{{shellLayout}}"></div>

    
</div>
{{/isDesktop}}


{{^isDesktop}}
    

    {{#stories}} 

        <div class="swiper-container swiper-container-{{storyLayout}}">
            <div class="swiper-pagination swiper-pagination-{{storyLayout}}"></div>

                <div class="swiper-wrapper">
                
                    {{#slides}}
                        {{>slide}}
                    {{/slides}}
       
                </div>

            <div class="swiper-button-next"></div>
<!--             <div class="swiper-button-prev"></div> -->

        </div>

     {{/stories}}   


{{/isDesktop}}