<div 
	class="swiper-slide swiper-slide-{{slide}} {{#src}}swiper-slide-pending{{/src}}" 
	{{#isDesktop}}
		{{#backgroundcolor}}style="background-color:{{backgroundcolor}}"{{/backgroundcolor}}
		{{#style}} style='{{style}}' {{/style}}
	{{/isDesktop}} 

	{{^isDesktop}}
		{{#alt.style}} style='{{alt.style}}' {{/alt.style}}
	{{/isDesktop}} 
	{{#getPhotoData}}data-img-src='{{src}}' data-img-sizes='{{sizes}}'{{/getPhotoData}}	
	
>
	<div class="slide-container slide-{{slide}}">
		{{#isQuote}}
			<div class="quote-container">
				<quote>{{quote}}</quote>
				<p class="quote-credit">{{quotecredit}}</p>
			</div>
		{{/isQuote}}
		{{#isPhoto}}
			{{#caption}}
			<div class="picture-credit portrait-{{portrait}}">
				<div class="credit-container {{^isDesktop}} {{#alt.hide_gradient}}mobile-hide-gradient{{/alt.hide_gradient}}{{/isDesktop}}">
					<p {{#textshadow}}style="text-shadow:0 0 4px rgba(0,0,0,{{textshadow}})"{{/textshadow}}>{{caption}}</p>
				</div>
			</div>
			{{/caption}}
		{{/isPhoto}}

		{{#end}}
			<div class='slide-end-block' {{#end_style}} style='{{end_style}}' {{/end_style}}>
				<div class="shareBlock">
					<div class="shareButtonContainer">
						<p>Share this</p>
						<div class="shareButtons">
							<button class="facebook-share"></button>
							<button class="twitter-share"></button>
							<button class="mail-share"></button>
						</div>
					</div>
				</div>
				<div class='slide-end-text'>Next chapter</div>
				<svg class='slide-down-arrow' x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
					<polygon fill="{{#isDesktop}}#FFFFFF{{/isDesktop}}{{^isDesktop}}#f6f6f6{{/isDesktop}}" points="44.9,13.2 25,29.9 5.1,13.2 3.1,15.1 21.1,33.1 21.1,33.1 24,36 26,36 28.9,33.1 46.9,15.1 "/>
				</svg>
			</div>
			{{#isDesktop}}
		 	   <div class="swiper-button-next swiper-end-gallery"></div>
		    {{/isDesktop}}
		{{/end}}

		{{#isTitle}}
			<div class="title-container hp-{{horizontalposition}} vp-{{verticalposition}} {{^isDesktop}}{{#alt.verticalposition}} vp-{{alt.verticalposition}} {{/alt.verticalposition}} {{#mobiletextbg}} mobile-title-bg {{/mobiletextbg}}{{/isDesktop}}  size-{{size}}">
				<h2 class="story-title" {{#isDesktop}}style="color:{{color}}; {{#textshadow}}text-shadow: 0 0 8px rgba(0,0,0,{{textshadow}});{{/textshadow}} {{customstyle}}"{{/isDesktop}}>{{headline}}</h2>
				<h3 {{#isDesktop}}style="color:{{color}}; {{#textshadow}}text-shadow: 0 0 8px rgba(0,0,0,{{textshadow}});{{/textshadow}}" {{/isDesktop}}>{{caption}} {{credit}}</h3>
			</div>
		{{/isTitle}}
	</div>
</div>
