<div 
	class="swiper-slide swiper-slide-{{slide}} {{#src}}swiper-slide-pending{{/src}}" 
	{{#backgroundcolor}}style="background-color:{{backgroundcolor}}"{{/backgroundcolor}} 
	{{#getPhotoData}}data-img-src='{{src}}' data-img-sizes='{{sizes}}'{{/getPhotoData}}	
	{{#style}} style='{{style}}' {{/style}}
>
	<div class="slide-container slide-{{slide}}">
		{{#isQuote}}
			<div class="quote-container">
				<quote>{{quote}}</quote>
				<p class="quote-credit">{{quotecredit}}</p>
			</div>
		{{/isQuote}}
		{{#isPhoto}}
			<div class="picture-credit">
				<div class="credit-container">
					<p {{#textshadow}}style="text-shadow:0 0 4px rgba(0,0,0,{{textshadow}})"{{/textshadow}}>{{caption}}</p>
				</div>
			</div>
		{{/isPhoto}}

		{{#isEnd}}


		{{/isEnd}}
		{{#isTitle}}
			<div class="title-container hp-{{horizontalposition}} vp-{{verticalposition}} size-{{size}}">
				<h2 class="story-title" style="color:{{color}}; {{#textshadow}}text-shadow: 0 0 8px rgba(0,0,0,{{textshadow}});{{/textshadow}} {{customstyle}}">{{headline}}</h2>
				<h3>{{caption}} {{credit}}</h3>
			</div>
		{{/isTitle}}

	</div>
</div>
